<div class="container">
    <div>
        <div>
            <h1>Hello {{username}}, what do you want to do?</h1>
        </div>
        <div class="innercontainer">
            <div class="maincontainer gap-2 d-flex">
                <div class="card">
                    <div class="card-body">
                        <h3>Create game</h3>
                        <input class="form-control username mb-2" type="text" placeholder="Game name"
                            [(ngModel)]="gameName">
                        <select class="form-select mb-2" [(ngModel)]="myCardSet"
                            (change)="updateSelectedCards(myCardSet)">
                            <option value="default" disabled>Set of cards:</option>
                            <option value="1">Regular</option>
                            <option value="2">Fibonacci</option>
                        </select>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-secondary" type="submit" (click)="createGame()">Create</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3>Join game</h3>
                        <input class="form-control username mb-2" type="text" placeholder="Gamecode"
                            [(ngModel)]="gameCode">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-secondary" type="submit" (click)="joinGameByGameCode()">Join</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>