/* 
Pure white: #FFFFFF
Deep Cynober: #E54758
Deep Cynober (hover): #d03847
Sky Blue: #6BC7F0
Navy Blue: #191825
*/


.btn-primary {
    --bs-btn-color: white;
    --bs-btn-bg: #E54758;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d03847;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d03847;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: none;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: none;
}

.btn-secondary {
    --bs-btn-color: white;
    --bs-btn-bg: #E54758;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d03847;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d03847;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: none;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: none;

}

.inputClass {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 90px;
}


.input-group {
    display: flex;
    align-items: center;
    /* Aligns items vertically in the center */
}

.form-control {
    flex: 1;
    /* Allows the input field to take up the remaining space */
    margin-right: 10px;
    /* Adds some space between the input field and the button */
    font-family: 'Assistant', sans-serif;
}

.form-control:focus {
    border-color: #6BC7F0;
    box-shadow: 0 0 0 0.2rem rgba(107, 200, 240, 0.329);
    /* rgba(107, 199, 240, 1) */
}

body {
    text-align: center;
}

h3 {
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
}

.card {
    position: absolute;
    width: 25rem;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: #191825;
    text-decoration: none;
    font-family: 'Assistant';
    font-size: 0.9rem;
    padding-left: 1px;
}

a:hover {
    color: #6BC7F0;
}