<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <a class="navbar-brand" href="#"></a>
      <!-- the logo is on the left side of the navbar, the ms auto moves the rest of the items to the right -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item m-1">
          <a class="btn btn-secondary" href=""><i class="m-1 fas fa-house"></i>Home</a>
        </li>

        <li class="nav-item m-1">
          <a class="btn btn-secondary" href="/chatexample"><i class="m-1 fa-solid fa-comments"></i>Chat</a>
        </li>

        <li class="nav-item m-1">
          <a class="btn btn-secondary" href="/gamelobby"><i class="m-1 fa-solid fa-crown"></i>Game</a>
        </li>

        <div *ngIf="!isLoggedIn" class="dropdown m-1">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="m-1 fas fa-user"></i>
            Account
          </button>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="dropdown-item" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="/register">Register</a>
            </li>
          </ul>
        </div>
        <div *ngIf="isLoggedIn" class="dropdown m-1">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="m-1 fas fa-user"></i>
            <span *ngIf="isLoggedIn">{{username}}</span>
          </button>
          <ul class="dropdown-menu">
            <li *ngIf="isLoggedIn" class="nav-item">
              <button class="dropdown-item" (click)="logout()">Logout</button>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>