/* 
Pure white: #FFFFFF
Deep Cynober: #E54758
Deep Cynober (hover): #d03847
Sky Blue: #6BC7F0
Navy Blue: #191825
*/

h1 {
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: "Assistant", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 0.7rem;
}

/* TASK CARDS */
h5.card-title {
    font-family: "Assistant", sans-serif;
    margin-bottom: 0.1rem;
}

.card.task {
    width: 30rem;
}

p.card-text {
    margin-bottom: 0.2rem;
    font-family: 'Assistant', sans-serif;
}

a.card-link {
    color: #6BC7F0;
    font-family: 'Assistant', sans-serif;
    font-size: small;
}

/* BUTTON reveal cards */
.btn.btn-primary.btn-lg {
    --bs-btn-color: white;
    --bs-btn-bg: #E54758;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d03847;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d03847;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: none;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: none;
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/* .container.bottom {
    height: 100%;
} */

/* SET OF CARDS SELECTION */
.form-select {
    font-family: 'Assistant', sans-serif;
    margin-bottom: 1rem;
}

.form-select:focus {
    border-color: #6BC7F0;
    box-shadow: 0 0 0 0.2rem rgba(107, 200, 240, 0.329);
}


/* PLAYING CARDS */
.card.playing {
    --bs-card-spacer-y: 0.6rem;
    --bs-card-spacer-x: 0.2rem;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}

.active-card {
    background-color: #6BC7F0;
    color: white;
}

.card.playing:hover {
    cursor: pointer;
    background-color: #E54758;
}

/* Space between playing cards */
.g-4 {
    --bs-gutter-y: 0.5rem;
    --bs-gutter-x: 0.5rem;
}

.top-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    font-size: 2rem;
}