<div class="container-all">
    <div class="container-left">
        <div class="card user-details">
            <div class="card-body">
                User: <strong>{{username}}</strong><br>
                Your role: <strong>{{role}}</strong><br>
                Your cardset: <strong>{{setOfCardName}}</strong><br>
                Your gamecode: <strong>{{gameCode}}</strong>
                <div class="d-flex">
                    <i class="fa-solid fa-circle-left back-arrow title" title="Go back to the lobby"
                        (click)="toLobby()"></i>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="container bg-body-tertiary taskdisplay">
                <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary">
                    <div
                        class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
                        <div class="titletask fs-5">Tasks
                        </div>
                    </div>
                    <div class="list-group list-group-flush border-bottom scrollarea scorecontainer">
                        <!-- display results in reverse -->
                        <div class="list-group-item list-group-item-action py-3 lh-sm"
                            *ngFor="let task of reversedTasks; let i = index; first as isFirst"
                            [class.first-item]="isFirst">
                            <div class="col-10 mb-1 small">
                                <strong>{{task.tasktitle}}</strong>
                                <span [ngClass]="isFirst ? 'averagescoresmallfirst' : 'averagescoresmalllist'"
                                    *ngIf="task.averagescore !== null">Average:
                                    {{task.averagescore}}</span><br>{{task.taskdescription}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="taskinputcontainer" *ngIf="role === 'admin'">
            <div class="input-button-container">
                <input class="form-control mb-2" type="text" placeholder="Task title" [(ngModel)]="taskTitle"
                    [ngModelOptions]="{standalone: true}">
                <button class="btn btn-secondary mb-2" type="submit" title="Create task" (click)="createTask()"><i
                        class="fa-solid fa-paper-plane"></i></button>
            </div>
            <input class="form-control" type="text" placeholder="Task description" [(ngModel)]="taskDescription"
                [ngModelOptions]="{standalone: true}">
        </div>
    </div>
    <div class="container-right">
        <div class="container-right-top">
            <div class="inner-top">
                <h3>Other players' cards</h3>
                <div class="row row-cols-1 row-cols-md-4 g-2">
                    <div class="col" *ngFor="let player of joinedPlayersArray; let i = index; trackBy: trackById">
                        <div class="card table">
                            <div class="card-body table">
                                <i class="fa-regular fa-trash-can"
                                    (click)="deletePlayer(player.userid, player.gamecode)" *ngIf="role === 'admin'"></i>
                                <i class="fa-solid fa-crown" *ngIf="player.role === 'admin'"></i>
                                <i *ngIf="i % 4 === 0 && player.displayscore === 0 || player.displayscore === null"
                                    class="bi bi-suit-heart-fill"
                                    [ngStyle]="{'color': player.score ? '#E54758' : 'rgb(226, 226, 226)'}"></i>
                                <i *ngIf="i % 4 === 1 && player.displayscore === 0" class="bi bi-suit-club-fill"
                                    [ngStyle]="{'color': player.score ? '#191825' : 'rgb(226, 226, 226)'}"></i>
                                <i *ngIf="i % 4 === 2 && player.displayscore === 0" class="bi bi-suit-diamond-fill"
                                    [ngStyle]="{'color': player.score ? '#E54758' : 'rgb(226, 226, 226)'}"></i>
                                <i *ngIf="i % 4 === 3 && player.displayscore === 0" class="bi bi-suit-spade-fill"
                                    [ngStyle]="{'color': player.score ? '#191825' : 'rgb(226, 226, 226)'}"></i>
                                <p class="card-text card-number" *ngIf="player.displayscore === 1">{{player.score}}</p>
                                <p class="card-text card-name">{{player.username}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-right-bottom">
            <div class="inner-bottom-left">
                <h3>Pick your points</h3>
                <div class="row row-cols-1 row-cols-md-4 rowscore">
                    <div *ngFor="let card of setOfCards; let i = index; trackBy: trackById" class="col">
                        <div class="card points" [ngClass]="{ 'active-card': card.state }" (click)="onCardClick(card)">
                            <div class="card-body points">
                                <p class="card-text">{{card.value }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-secondary" type="submit" title="Submit score"
                        (click)="submitScore()">Submit</button>
                </div>
            </div>
            <div class="inner-bottom-right">
                <div class="ibr-title-buttons">
                    <div class="ibr-title">
                        <h3>Results</h3>
                    </div>
                    <div class="ibr-buttons">
                        <i class="fa-solid fa-eye" *ngIf="role === 'admin'" title="Reveal cards"
                            (click)="revealCards()"></i>
                        <i class="fa-solid fa-arrow-rotate-left" *ngIf="role === 'admin'" title="Reset scores"
                            (click)="resetScore()"></i>
                    </div>
                </div>
                <div class="ibr-content">
                    <div class="ibr-scores">
                        <div *ngFor="let task of reversedTasks; let i = index, trackBy: trackById">
                            <div *ngIf="task.displayscore === 1 && i === 0">
                                <h5>Lowest score: {{ task.lowestscore }}</h5>
                                <h4>Average score: {{ task.averagescore }}</h4>
                                <h5>Highest score: {{ task.highestscore }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>