/* Imports for Grid CSS */
/* Core Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

/* 
Pure white: #FFFFFF
Deep Cynober: #E54758
Deep Cynober (hover): #d03847
Sky Blue: #6BC7F0
Navy Blue: #191825
*/

.navbar.navbar-expand-lg.navbar-light {
    background-color: #FFFFFF;
}


::selection {
    color: white;
    background: #6BC7F0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Assistant', sans-serif;
}