<!-- <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Registreren</h1>
            <div class="inputClass d-grid gap-2">
                <input type="text" placeholder="Gebruikersnaam" class="form-control mt-1" [(ngModel)]="username">
                <input 
                  type="email" 
                  placeholder="E-mail" 
                  class="form-control mt-1" 
                  [(ngModel)]="email"
                  required email>
                <input type="{{showPassword ? 'text' : 'password'}}" placeholder="Wachtwoord" class="form-control mt-1" [(ngModel)]="password">
                <button class="btn btn-primary mt-2" (click)="togglePasswordVisibility()"><i class="fa-solid fa-eye-slash"></i> Toon Wachtwoord</button>
                <hr>
                <button class="btn btn-secondary" (click)="onSubmit()" type="submit">Registreren</button>
            </div>
        </div>
    </div>
  </div> -->

<div class="box">
  <h3>Registreren</h3>
  <input type="text" placeholder="Gebruikersnaam" class="form-control mb-2" [(ngModel)]="username">
  <input type="email" placeholder="E-mail" class="form-control mb-2" [(ngModel)]="email" required email>
  <div class="input-group">
    <input type="{{showPassword ? 'text' : 'password'}}" placeholder="Wachtwoord" class="form-control"
      [(ngModel)]="password">
    <button class="btn btn-primary" (click)="togglePasswordVisibility()"><i class="fa-solid fa-eye-slash"></i></button>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-secondary mt-2" (click)="onSubmit()" type="submit">Registreer</button>
  </div>

</div>